body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f7fa;
    color: #333;
  }
  header {
    text-align: center;
    margin-bottom: 30px;
  }

  #planes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 25px;
  }

h1 {
    color: blueviolet;
    font-size: 3rem;
    margin-top: 3rem;
}